[Unit]
Description=uWSGI instance for Python app
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/srv/sesja-2.demo.python
ExecStart=/usr/bin/uwsgi --ini app.ini

[Install]
WantedBy=multi-user.target