[Unit]
Description=Simple sd-notify integration application

[Service]
Type=notify
Restart=always
ExecStart=/usr/bin/python3 /home/docent/git/conferences/systemd-workshop/sd-notify-python/sd-notify-app-service.py
WatchdogSec=12

[Install]
WantedBy=multi-user.target
